
<div *ngIf ="editOneMovie">
        <form  [formGroup]="addMovieForm" (ngSubmit)="onSubmit()">
            <table class="example-full-width" cellspacing="0" id="tableId">
                <tr>
                      <td>
                    <mat-form-field class="example-full-width">
                <input type="text" matInput placeholder="Movie Name" 
                value={{editOneMovie.movieName}}
                formControlName="movieName">
              </mat-form-field>
              </td>
              </tr>
              <tr>
                <td>
              <mat-form-field class="example-full-width">
                 <input type="text" matInput placeholder="Movie Poster Url" 
                 value={{editOneMovie.moviePosterUrl}}
                 formControlName="posterUrl">
                  </mat-form-field>
                  </td>
                  </tr>
                  <tr>
                      <td>
                  <mat-form-field class="example-full-width">
                  <input matInput type="date" placeholder="Movie Release Date" 
                  formControlName="releaseDate"
                  value={{editOneMovie.movieReleaseDate}}>
                    </mat-form-field>
                    </td>
                    </tr>
            
                    <tr>
                        <td>
                <mat-form-field class="example-full-width">
                    
                  <input type="text" matInput placeholder="Movie Description"
                   formControlName="description"
                   value={{editOneMovie.movieDescription}}>
                </mat-form-field>
                </td>
                </tr>
            
                <tr>
                    <td>
                <mat-form-field class="example-full-width">
              
                  <input type="text" matInput placeholder="Movie Video Url" 
                  formControlName="videoUrl"
                  value={{editOneMovie.movieVideoUrl}}>
                </mat-form-field>
                </td>
                </tr>
            <tr>
              <td>
                  <div class="form-group">
                      <label for="sel1">Category</label>
                      <select class="form-control" formControlName="category" 
                      placeholder="Movie Category"
                      value={{editOneMovie.movieCategory}}>
                        <option value="romance">Romance</option>
                        <option value="drama">Drama</option>
                        <option value="action">Action</option>
                        <option value="horror">Horror</option>
                        <option value="documentary">Documentary</option>
                        <option value="adult">Adult</option>
                      </select>
                    </div>
              </td>
            </tr>
            
                <tr>
                    <td>
                  <mat-form-field class="example-full-width"> 
                  <input type="number" matInput placeholder="Movie Age limit" 
                  formControlName="ageLimit"
                  value={{editOneMovie.movieAgeLimit}}>
                </mat-form-field>
                </td>
                </tr>
            
                <tr>
                    <td>
                        <div class="form-group">
                            <label for="sel1">Language</label>
                            <select class="form-control" formControlName="language" 
                            placeholder="Movie Language"
                            value={{editOneMovie.movieLanguage}}>
                              <option value="hindi">Hindi</option>
                              <option value="english">English</option>
                              <option value="telugu">Telugu</option>
                              <option value="punjabi">Punjabi</option>
                              <option value="marathi">Marathi</option>
                            </select>
                          </div>
                    </td>
                  </tr>
                 
                  
                  </table>
                  <div id="bt">
                      <button class="btn btn-primary" mat-raised-button type="button" (click)="editData()">SAVE</button>
                  </div>
                
                </form>
</div>